<Jumbo>
  <h2>Contact</h2>
  <p>Contact information goes here.</p>
  <address>
    Name
    <p>
      000 Address Ave
      City, ST 00000
    </p>
    <a href="tel:000.000.0000">+1 (000) 000-0000</a><br>
    <a href="mailto:name@">name @ address . com</a>
  </address>
  <LinkTo @route="about" class="button">About</LinkTo>
</Jumbo>